services:
  backend:
    build: ./backend
    container_name: Backend-day4

  nginx:
    image: nginx:alpine
    container_name: NGINX-day4
    ports:
      - '8080:80'
      - '443:443'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      - backend
